@model ExamenNicIan.Models.Element

<div class="card" style="width: 18rem;">
    @{
        var images = new string[] { "r1.jpg", "r2.jpg", "r3.jpeg", "r4.jpg", "r5.jpeg", "r6.jpeg", "r7.jpeg", "r8.jpg", "r9.jpg", "r10.jpeg" };
        var random = new Random();
        var imageIndex = random.Next(images.Length); 
    }

    <img src="~/Resources/@images[imageIndex]" class="card-img-top" alt="Restaurant image">
    <div class="card-body">
        <div class="card">
            <h2>@Model.tags.name</h2>
            <p>@Model.tags.addrstreet @Model.tags.addrhousenumber</p>
            <p>@Model.tags.addrcity, @Model.tags.addrpostcode</p>
            <p>@Model.tags.phone</p>
            <p><a href="@Model.tags.website">@Model.tags.website</a></p>
            <p>Opening hours: @Model.tags.opening_hours</p>
            <p>@Model.tags.description</p>
        </div>
    </div>
</div>
